.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.option-header {
  background-color:gray;
  color: white;
  margin: 1rem 0;
}

.submit {
  width: 5rem;
  margin: 1rem auto;
  background-color:green;
  color: black;
  padding: 7px;
  border: 2px solid gray;
}

.submit:disabled {
  background-color: gray;
}